:root{
    

    /* Primary Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral Colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    
    
    /* Body Typography */
    --font-size-body: 14px;

    /* Font Typography */
    --montserrat: 'Montserrat', sans-serif;
    --frauces: 'Fraunces', serif;
}